@charset "utf-8";
/* CSS Document */
/* Importing the Lumberjack font */
@font-face {
    font-family: 'Lumberjack';
    src: url("lumberjack.regular.otf") format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url("img/Background.png") no-repeat center center fixed;
    background-size: cover;
}

.logo {
    position: absolute; /* Use absolute positioning */
    top: 15px; /* Adjust position as needed */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1002; /* Ensure logo is above nav */
    opacity: 1; /* Initially visible */
    transition: opacity 0.3s ease-in-out; /* Smooth opacity transition */
}

.logo img {
    max-width: 200px; /* Adjusted size for medium logo */
}

/* Additional CSS for the centered image */
.centered-image {
    display: block;
    margin: 0 auto;
    width: 60%; /* Adjust width as needed */
    max-width: 100%;
    padding-top: 30px; /* Adjust as needed for spacing */
    position: relative; /* Ensure it follows the flow of the document */
    top: 200px; /* Adjust the top position to place it below the nav */
}

/* Additional CSS for the second centered image */
.below-centered-image {
    display: block;
    margin: 0px auto 0; /* Adjust margin to ensure spacing between the images */
    width: 70%; /* Adjust width as needed */
    max-width: 1200px; /* Maximum width for larger screens */
    height: auto; /* Maintain aspect ratio */
}

nav {
    position: absolute; /* Use absolute positioning */
    width: 90%; /* Reduced width to leave space on the sides */
    background: #EDD2E3;
    border: 2px solid #C88ED5;
    border-radius: 20px;
    top: 120px; /* Increased value to add space above the nav */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    transition: top 0.3s, opacity 0.3s;
    padding: 8px; /* Added padding for better appearance */
    box-sizing: border-box; /* Ensure padding does not increase total width */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    padding: 10px 0;
}

nav ul li a {
    font-family: 'Lumberjack', Arial, sans-serif;
    color: #364760; /* Text color */
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em; /* Adjusted font size */
    padding: 10px 15px;
    border-radius: 10px; /* Rounded corners for each link */
    transition: background-color 0.3s; /* Smooth background color change */
}

nav ul li a:hover {
    background-color: #C88ED5; /* Hover background color */
    color: white; /* Hover text color */
}

.content {
    padding-top: 200px; /* Adjust according to nav height and header height */
    height: 2000px; /* Example content height */
}

/* SVG Separator */
#separator {
    width: 100%; /* Adjust width of the SVG */
    height: auto; /* Allow SVG to scale with its width */
    position: relative; /* Ensure it follows the flow of the document */
    top: 160px; /* Adjust the top position to create space between images */
}

#separator-bottom {
    width: 100%; /* Adjust width of the SVG */
    height: auto; /* Allow SVG to scale with its width */
    position: relative; /* Ensure it follows the flow of the document */
    top: 90px; /* Adjust the top position to create space between separators */
}

#separator-2 {
    width: 100%; /* Adjust width of the SVG */
    height: auto; /* Allow SVG to scale with its width */
    position: relative; /* Ensure it follows the flow of the document */
    top: -20px; /* Adjust the top position to create space between images */
}

#separator-bottom-2 {
    width: 100%; /* Adjust width of the SVG */
    height: auto; /* Allow SVG to scale with its width */
    position: relative; /* Ensure it follows the flow of the document */
    top: -80px; /* Adjust the top position to create space between the image and the separator */
}

.svg-container {
    position: relative; /* Needed to position the overlay image */
    width: 100%; /* Full width */
    height: auto; /* Allow height to adjust automatically */
}

/* Overlay Image */
.overlay-image {
    position: absolute; /* Position the overlay image absolutely */
    top: 390px; /* Align with the top of the SVG, adjust as needed */
    left: 50%; /* Center the image horizontally */
    transform: translateX(-50%); /* Adjust horizontal centering */
    width: 600px; /* Default width, can be adjusted */
    height: auto; /* Maintain aspect ratio */
	z-index: 1001; /* Ensure it is in front of the separators */
}

.overlay-image-2 {
    position: absolute; /* Position the overlay image absolutely */
    top: 250px; /* Align with the top of the SVG, adjust as needed */
    left: 50%; /* Center the image horizontally */
    transform: translateX(-50%); /* Adjust horizontal centering */
    width: 750px; /* Default width, can be adjusted */
    height: auto; /* Maintain aspect ratio */
	z-index: 1001; /* Ensure it is in front of the separators */
}

/* CSS for the image below the separator */
.below-separator-image {
    display: block;
    margin: 20px auto; /* Center the image and add top margin */
    width: 65%; /* Adjust width as needed */
    max-width: 100%; /* Ensure the image is responsive */
    height: auto; /* Maintain aspect ratio */
	position: relative; /* Ensure it follows the flow of the document */
    top: -90px; /* Adjust the top position to place it below the separator */
}

.below-separator-image-2 {
    display: block;
    margin: 20px auto; /* Center the image and add top margin */
    width: 65%; /* Adjust width as needed */
    max-width: 100%; /* Ensure the image is responsive */
    height: auto; /* Maintain aspect ratio */
	position: relative; /* Ensure it follows the flow of the document */
    top: -0px; /* Adjust the top position to place it below the separator */
}

.image-frame-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.image-frame {
    width: 600px; /* Set initial width of the frame */
    height: 800px; /* Set initial height of the frame */
    overflow: hidden; /* Hide overflowing content */
    border-radius: 40px; /* Rounded corners for the frame */
    position: relative; /* Ensure relative positioning */
    margin-left: auto; /* Move frame to the right */
    margin-right: auto; /* Move frame to the left */
    top: -470px; /* Move the frame upwards */
}

.image-frame img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the frame */
}

.right-side-image {
    width: 28%; /* Adjust the maximum width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: auto; /* Move image to the right */
    margin-right: auto; /* Move image to the left */
    padding-top: 10px; /* Adjust top padding */
    position: relative; /* Ensure relative positioning */
    top: -470px; /* Move the image upwards */
}

/* Line separator below the images */
.line-separator {
    width: 50%; /* Adjust width as needed */
    height: 7px; /* Adjust height for the thickness of the line */
    background-color: #C88ED5; /* Line color */
    margin: 20px auto; /* Center the line and add top/bottom margin */
    position: relative; /* Ensure relative positioning */
	border-radius: 80px; /* Rounded corners for the frame */
    top: -410px; /* Adjust top position to fine-tune placement */
}

.image-frame-container-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.image-frame-2 {
    width: 600px; /* Set initial width of the frame */
    height: 800px; /* Set initial height of the frame */
    overflow: hidden; /* Hide overflowing content */
    border-radius: 20px; /* Rounded corners for the frame */
    position: relative; /* Ensure relative positioning */
    margin-left: auto; /* Move frame to the right */
    margin-right: auto; /* Move frame to the left */
    top: -350px; /* Move the frame upwards */
}

.image-frame-2 img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the frame */
}

.right-side-image-2 {
    width: 28%; /* Adjust the maximum width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: auto; /* Move image to the right */
    margin-right: auto; /* Move image to the left */
    padding-top: 10px; /* Adjust top padding */
    position: relative; /* Ensure relative positioning */
    top: -350px; /* Move the image upwards */
}

/* Line separator below the images */
.line-separator-2 {
    width: 50%; /* Adjust width as needed */
    height: 7px; /* Adjust height for the thickness of the line */
    background-color: #C88ED5; /* Line color */
    margin: 20px auto; /* Center the line and add top/bottom margin */
    position: relative; /* Ensure relative positioning */
	border-radius: 80px; /* Rounded corners for the frame */
    top: -275px; /* Adjust top position to fine-tune placement */
}

.image-frame-container-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.image-frame-3 {
    width: 600px; /* Set initial width of the frame */
    height: 800px; /* Set initial height of the frame */
    overflow: hidden; /* Hide overflowing content */
    border-radius: 40px; /* Rounded corners for the frame */
    position: relative; /* Ensure relative positioning */
    margin-left: auto; /* Move frame to the right */
    margin-right: auto; /* Move frame to the left */
    top: -220px; /* Move the frame upwards */
}

.image-frame-3 img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the frame */
}

.right-side-image-3 {
    width: 28%; /* Adjust the maximum width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: auto; /* Move image to the right */
    margin-right: auto; /* Move image to the left */
    padding-top: 10px; /* Adjust top padding */
    position: relative; /* Ensure relative positioning */
    top: -220px; /* Move the image upwards */
}

/* SVG wave separator */
#footer-separator {
    position: relative;
    top: -400px; /* Adjust the position upwards */
    left: 0;
    width: 100%;
    height: auto; /* Adjust height as needed */
}

/* Footer styles */
.footer {
    background-color: #E2BBD3; /* Footer background color */
    padding: 200px 0; /* Padding for top and bottom */
    text-align: center; /* Center the text */
    position: relative;
    top: -500px; /* Adjust to position the footer correctly */
	z-index: 1; /* Ensure the footer is above the wave */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.contact-title {
    font-family: 'Lumberjack', Arial, sans-serif;
    color: #FFF7FC; /* Font color */
    font-size: 1.8em; /* Adjust the font size as needed */
    margin-bottom: 10px; /* Space below the title */
    text-align: right; /* Align text to the right */
    position: relative;
    top: -90px; /* Adjust the top position */
    right: -955px;
}

.connect-title {
    font-family: 'Lumberjack', Arial, sans-serif;
    color: #FFF7FC; /* Font color */
    font-size: 1.8em; /* Adjust the font size as needed */
    margin-top: 20px; /* Space above the title */
    text-align: right; /* Align text to the right */
    position: relative;
    top: 130px; /* Adjust the top position */
    right: 365px;
}

.thankyou-image {
    position: absolute;
    width: 40%; /* Adjust the maximum width as needed */
    margin-left: 6%; /* Move image to the right */
    margin-right: auto; /* Move image to the left */
    left: 0;
    top: -125px; /* Adjust the top position */
}

.contact-image {
    position: absolute;
    width: 24%; /* Adjust the maximum width as needed */
    margin-left: auto; /* Move image to the right */
    margin-right: 20%; /* Move image to the left */
    right: -104px;
    top: -10px; /* Adjust the top position */
}

.contact-image-2 {
    position: absolute;
    width: 16%; /* Adjust the maximum width as needed */
    margin-left: auto; /* Move image to the right */
    margin-right: 21%; /* Move image to the left */
    right: 2px;
    top: 55px; /* Adjust the top position to place it below the first contact image */
}

.social-icons {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top:130px; /* Adjust the top position to place it below the connect title */
    right: 275px;
    margin-right: 0;
}

.social-icon {
    width: 60px; /* Adjust width of icons */
    height: auto; /* Maintain aspect ratio */
    margin-left: 15px; /* Space between icons */
}